[MASTER]
# Allow a single large file
max-module-lines=10000

[MESSAGES CONTROL]
# Disable these checks
disable=
    missing-docstring,
    too-few-public-methods,
    line-too-long,
    trailing-whitespace,


[DESIGN]
# Set complexity thresholds
max-args=2
max-locals=4
max-returns=3
max-branches=5
max-statements=20
max-parents=7
max-attributes=5
max-public-methods=5
#max-line-length=120

